@font-face {
  font-family: "w95font";
  src: url("font/w95font.woff2") format("woff2"),
       url("font/w95font.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "w95font";
  src: url("font/w95font-bold.woff2") format("woff2"),
       url("font/w95font-bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

html {
  font-family: "w95font", sans-serif;
  font-size: 22px;
  background-color: teal;
}

body {
  overflow: hidden;
  padding-top: 12px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 64px;
  image-rendering: pixelated;
}

h1,p { margin: 0; }
b,a { font-size: 20px; }
a { font-weight: bold; }
audio { padding-top: 8px; }

h1 {
  font-size: 24px;
  font-weight: bold;
  color: white;
  background-color: blue;
  background-image: url("img/window/controls.gif");
  background-repeat: no-repeat;
  background-position: right 4px center;
  padding-top: 6px;
  padding-left: 6px;
  padding-bottom: 1px;
  user-select: none;
}

hr {
  height: 2px;
  background-color: white;
  border: none;
  border-top: 2px solid gray;
}

.window {
  margin: auto;
  max-width: 1024px;
  background-color: silver;
  border: 4px solid transparent;
  border-image: url("img/window/border.gif") 4 / 4px;
  padding-top: 4px;
  padding-left: 4px;
  padding-right: 4px;
}

.window-content {
  max-height: calc(100dvh - 148px);
  padding-bottom: 4px;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-color: blue silver;
}

.window-content img {
  margin-top: 8px;
  background-color: white;
  border: 4px solid transparent;
  border-image: url("img/content/border.gif") 4 / 4px;
  object-fit: contain;
  max-width: calc(100% - 8px);
}

nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  border: 4px solid transparent;
  border-image: url("img/taskbar/top.gif") 4 / 4px;
  height: 48px;
  background: silver;
  overflow: hidden;
}

.navbuttons {
  display: flex;
  position: fixed;
  left: 120px;
  margin: 0;
  padding-top: 4px;
  gap: 6px;
  max-height: 44px;
  max-width: calc(100% - 256px);
  flex: none;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-color: blue silver;
}

.navbuttons p {
  font-weight: bold;
  font-size: 23px;
  text-decoration: none;
  white-space: nowrap;
  padding-top: 6px;
  padding-left: 3px;
  padding-right: 3px;
  color: black;
  width: 149px;
  height: 30px;
  background-image: url("img/nav/bg.gif");
  border: 4px solid transparent;
  border-image: url("img/nav/border1.gif") 4 / 4px;
  user-select: none;
}

.navbuttons a {
  align-items: center;
  font-weight: normal;
  font-size: 25px;
  text-decoration: none;
  white-space: nowrap;
  padding-top: 1px;
  padding-left: 3px;
  padding-right: 3px;
  color: black;
  width: 146px;
  height: 35px;
  background-color: silver;
  border: 4px solid transparent;
  border-image: url("img/nav/border.gif") 4 / 4px;
}

#navstart {
  position: fixed;
  left: 4px;
  width: 108px;
  height: 52px;
  background: url("img/taskbar/start.png") left no-repeat;
  pointer-events: none;
}

#clock {
  position: absolute;
  bottom: 0px;
  right: 8px;
  width: 122px;
  height: 40px;
  background-color: silver;
  border-top: 2px solid #818181;
  border-left: 2px solid #818181;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
}

#clock p {
  text-align: center;
  padding-top: 6px;
  padding-bottom: 6px;
  user-select: none;
}

iframe {
  margin-top: 8px;
  width: calc(100% - 8px);
  height: calc(100dvh - 172px);
  background-color: white;
  border: 4px solid transparent;
  border-image: url("img/content/border.gif") 4 / 4px;
}