@font-face {
  font-family: "w95font";
  src: url("font/w95font.woff2") format("woff2"),
       url("font/w95font.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "w95font";
  src: url("font/w95font-bold.woff2") format("woff2"),
       url("font/w95font-bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

html {
  font-family: "w95font", sans-serif;
  font-size: 22px;
  background-color: teal;
}

body {
  overflow: hidden;
  padding-top: 12px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 64px;
  image-rendering: pixelated;
}

h1,p { margin: 0; }
b,a { font-size: 20px; }
a { font-weight: bold; }
audio { padding-top: 8px; }

h1 {
  font-size: 24px;
  font-weight: bold;
  color: white;
  background-color: blue;
  background-image: url("img/window/window-controls.png");
  background-repeat: no-repeat;
  background-position: top right;
  padding-top: 6px;
  padding-left: 6px;
  padding-bottom: 1px;
}

hr {
  height: 2px;
  background-color: white;
  border: none;
  border-top: 2px solid gray;
}

.window {
  margin: auto;
  max-width: 1024px;
  background-color: silver;
  border: 4px solid transparent;
  border-image: url("img/window/window-frame.png") 4 / 4px;
  padding-top: 4px;
  padding-left: 4px;
  padding-right: 4px;
}

.window-content {
  max-height: calc(100dvh - 148px);
  padding-bottom: 4px;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-color: blue silver;
}

.window-content img {
  margin-top: 8px;
  background-color: white;
  border: 4px solid transparent;
  border-image: url("img/window/border-frame.png") 4 / 4px;
  object-fit: contain;
  max-width: calc(100% - 8px);
}

nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  border: 4px solid transparent;
  border-image: url("img/desktop/taskbar.png") 4 / 4px;
  height: 48px;
  background: silver;
  overflow: hidden;
}

nav img {
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.navbuttons {
  display: flex;
  position: fixed;
  left: 120px;
  margin: 0;
  padding-top: 4px;
  gap: 6px;
  height: 44px;
  max-width: calc(100% - 256px);
  flex: none;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-color: blue silver;
}

#navstart {
  position: fixed;
  left: 4px;
  width: 100%;
  height: 52px;
  background: url("img/desktop/taskbar-start.png") left no-repeat;
  pointer-events: none;
}

#navend {
  position: fixed;
  right: 0px;
  width: 100%;
  height: 52px;
  background: url("img/desktop/taskbar-end.png") right no-repeat;
  pointer-events: none;
}

iframe {
  margin-top: 8px;
  width: calc(100% - 8px);
  height: calc(100dvh - 172px);
  border: 4px solid transparent;
  border-image: url("img/window/border-frame.png") 4 / 4px;

}
