@font-face {
  font-family: "w95font";
  src: url("font/w95font.woff2") format("woff2"),
       url("font/w95font.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "w95font";
  src: url("font/w95font-bold.woff2") format("woff2"),
       url("font/w95font-bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

html {
  font-family: "w95font", sans-serif;
  font-size: 22px;
}

body {
  max-width: 1024px;
  overflow: hidden;
  margin: auto;
  padding-top: 12px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 64px;
  background-color: teal;
  background-image: url("img/desktop/taskbar-start.png"),
                    url("img/desktop/taskbar-end.png");
  background-repeat: no-repeat, no-repeat;
  background-position: bottom left, bottom right;
  background-attachment: fixed;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
}

#bottom-box {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;        /* makes it stretch full width */
  height: 60px;    /* or whatever height you want */
  background: #222; /* example color */
  color: white;
}


h1,p { margin: 0; }
b,a { font-size: 20px; }
a { font-weight: bold; }
audio { padding-top: 8px; }

h1 {
  font-size: 24px;
  font-weight: bold;
  color: white;
  border: 8px solid transparent;
  border-image: url("img/window/header-frame.png") 8 / 8px;
  background-color: blue;
  background-image: url("img/window/window-controls.png");
  background-repeat: no-repeat;
  background-position: top right;
  padding-top: 6px;
  padding-left: 6px;
  padding-bottom: 1px;
}

#window img {
  background-color: white;
  border: 4px solid transparent;
  border-image: url("img/window/border-frame.png") 4 / 4px;
  object-fit: contain;
  max-width: calc(100% - 12px);
}

#window {
  background-color: silver;
  border: 4px solid transparent;
  border-image: url("img/window/window-frame.png") 4 / 4px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 12px;
  max-height: calc(100dvh - 152px);
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-color: blue silver;
}

#taskbar {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 112px;
  gap: 2px;
  width: calc(100% - 250px);
  border: 4px solid transparent;
  border-image: url("img/desktop/taskbar.png") 4 / 4px;
  height: 48px;
  background: silver;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-color: blue silver;
}

#taskbar img {
  padding-top: 4px;
  padding-left: 4px;
  max-height: 44px;
  flex: none;
}