@font-face {
  font-family: "w95font";
  src: url("font/w95font.woff2") format("woff2"),
       url("font/w95font.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "w95font";
  src: url("font/w95font-bold.woff2") format("woff2"),
       url("font/w95font-bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

html {
  font-family: "w95font", sans-serif;
  font-size: 16px;
}

body {
  max-width: 1024px;
  overflow: hidden;
  margin: auto;
  padding-top: 6px;
  padding-left: 6px;
  padding-right: 6px;
  padding-bottom: 32px;
  background-color: teal;
  background-image: url("img/desktop/taskbar-start.png"),
                    url("img/desktop/taskbar-end.png"),
                    url("img/desktop/taskbar.png");
  background-repeat: no-repeat, no-repeat, repeat-x;
  background-position: bottom left, bottom right, bottom;
  background-attachment: fixed;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
}

h1,p { margin: 0; }
b,a { font-size: 14px; }
a { font-weight: bold; }
audio { padding-top: 4px; }

h1 {
  font-size: 12px;
  font-weight: bold;
  color: white;
  border: 4px solid transparent;
  border-image: url("img/window/header-frame.png") 4 / 4px;
  background-color: blue;
  background-image: url("img/window/window-controls.png");
  background-repeat: no-repeat;
  background-position: top right;
  padding-top: 3px;
  padding-left: 3px;
  padding-bottom: 1px;
}

#window img {
  background-color: white;
  border: 2px solid transparent;
  border-image: url("img/window/border-frame.png") 2 / 2px;
  object-fit: contain;
  max-width: calc(100% - 6px);
}

#window {
  background-color: silver;
  border: 2px solid transparent;
  border-image: url("img/window/window-frame.png") 2 / 2px;
  padding-left: 6px;
  padding-right: 6px;
  padding-bottom: 6px;
  max-height: calc(100dvh - 76px);
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-color: blue silver;
}

#taskbar {
  position: fixed;
  bottom: 2px;
  left: 60px;
}

#taskbar img {
  display: block;
  float: left;
  margin-right: 3px;

}

